@import url('../base/_typography.scss');

:root {
    --text-primary-light: #FFFFFF;
    --text-secondary: #000000;
    --background-light: #F5F5F5;
    --background-dark: #998FC6;
    --border-light: #BAB3B3;

    --primary-font: 'Roboto', Times, sans-serif;
}