.container {
    padding: 30px 130px 30px 39px;
    width: 60vw;
    height: 100vh;

    @media screen and (max-width:991px) {
        padding: 30px 15px 30px;
    }

    @media screen and (max-width:576px) {
        padding: 100px 15px 30px;
        width: 100vw;
    }
}

.not_active {
    display: none;
}