.sidebar {
    position: relative;
    width: 38vw;
    height: 100vh;
    z-index: 200;
    background-color: var(--background-dark);
    padding: 35px 0px;
    overflow: hidden;

    @media screen and (max-width: 576px) {
        display: none;
        padding: 80px 0px;
        width: 100%;
    }
}

.active {
    display: block;
}

.closeBtn {
    display: none;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/svg/close-btn.svg');

    @media screen and (max-width: 576px) {
        display: block;
    }
}