@import url('./styles/main.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-light);
    color: var(--background-dark);
    font-family: var(--secondary-font);
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

button {
    cursor: pointer;
}